In [1]:
1+1

2

In [2]:
3*4

12

In [3]:
1+2*4+4

13

In [4]:
(1+2) * (4+4)

24

In [9]:
v = 'Test'
v

'Test'

In [10]:
'singe quote'

'singe quote'

In [11]:
"Double quote"

'Double quote'

In [12]:
"People's"

"People's"

In [13]:
'He said "No"'

'He said "No"'

In [14]:
x = 'hello'

In [15]:
x

'hello'

In [16]:
print(x)

hello

In [17]:
num = 12

In [18]:
name = 'Tapiwa'

In [21]:
'My number is {} and my name is {}'.format(num, name)

'My number is 12 and my name is Tapiwa'

In [22]:
'My number is {one} and my name is {two}'.format(one=num, two=name)

'My number is 12 and my name is Tapiwa'

In [26]:
name[1:]

'apiwa'

In [27]:
name[:2]

'Ta'

In [28]:
name[-1]

'a'

In [29]:
name[:]

'Tapiwa'

In [30]:
name[4]

'w'

# Loops

In [31]:
seq = [1,2,3,4,5]

In [32]:
for i in seq:
    print(i)

1
2
3
4
5

In [33]:
i = 0
while i < 15:
    print(i)
    i = i+2

0
2
4
6
8
10
12
14

In [34]:
range(5)

range(0, 5)

In [35]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [37]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## List comprehension

In [38]:
x = [1,2,3,4]

In [39]:
out = []

for num in x:
    out.append(num**2)
    
out

[1, 4, 9, 16]

In [40]:
[num**2 for num in x]

[1, 4, 9, 16]

## Functions

In [1]:
def my_func(param1):
    print(param1)

In [2]:
my_func('test')

test

In [5]:
def greeting(name='World'):
    print('Hello ' + name)

In [6]:
greeting('Tapiwa')

Hello Tapiwa

In [7]:
greeting()

Hello World

In [8]:
greeting(name='Qweet')

Hello Qweet

In [9]:
def square(num):
    return num ** 2

In [10]:
output = square(2)

In [11]:
output

4

In [12]:
# Documentation
def square(num):
    """
    THIS IS A DOCSTRING
    CAN GO MULTIPLE LINES
    THIS FUNCTION SQUARES A NUMBER.
    """
    return num ** 2

In [13]:
square(6)

36

In [14]:
# Shift + Tab on function to see documentation
range(2)

range(0, 2)

## Map and Filter

In [15]:
def times2(var):
    return var*2

In [16]:
times2(4)

8

In [17]:
# map()

In [19]:
seq = [1,2,3,4,5,6,7]

In [24]:
list(map(times2, seq))

[2, 4, 6, 8, 10, 12, 14]

In [25]:
# lambda expression

In [26]:
t2 = lambda var : var*2

In [28]:
t2(6)

12

In [29]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15, 18, 21]

In [30]:
# Filter

In [32]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4, 6]

In [33]:
# Methods

In [34]:
s = 'hello my name is Tapiwa'

In [35]:
s.lower()

'hello my name is tapiwa'

In [36]:
s.capitalize()

'Hello my name is tapiwa'

In [38]:
s.upper()

'HELLO MY NAME IS TAPIWA'

In [39]:
s.split()

['hello', 'my', 'name', 'is', 'Tapiwa']

In [41]:
d = {'k1': 1, "k2": 2}

In [42]:
d

{'k1': 1, 'k2': 2}

In [43]:
d.keys()

dict_keys(['k1', 'k2'])

In [44]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [45]:
d.values()

dict_values([1, 2])

In [46]:
lst = [1,2,3]

In [48]:
lst

[1, 2, 3]

In [49]:
lst.pop()

3

In [50]:
lst

[1, 2]

In [51]:
first = lst.pop(0) # Can pass index to pop off at position
first

1

In [52]:
lst.append(3)
lst.append(4)

In [53]:
lst.append(3)

In [54]:
lst

[2, 3, 4, 3]

In [55]:
2 in lst

True

In [56]:
'x' in lst

False

In [57]:
# Tuple unpacking

In [58]:
x = [(1,2), (3,4), (5,6)]

In [59]:
x

[(1, 2), (3, 4), (5, 6)]

In [60]:
for (item) in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [63]:
for (a,b) in x:
    print(str(a) + '-' + str(b))

1-2
3-4
5-6